body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    background-color: antiquewhite;
    margin: 10px;
}

.container {
    display: flex;
    border: 3px;
    border-color: black;
    border-style: solid;   
    margin: 10px;
    align-self: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.button {
    padding: 10px;
    margin-bottom: 10px;
    
}

#box:hover {
    background: black;
    transform: scale(1.08);
    opacity: 1;
}